<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" type="password"></ion-input>
        </ion-item>
        <ion-button color="medium" fill="clear" size="full" style="font-size: 12px;">Forgot Email/Password</ion-button>
        <ion-button color="success" size="full" style="font-size: 15px;" (click)="login()">Login</ion-button>
        <ion-button color="success" size="full" fill="clear" style="font-size: 15px;" (click)="register()">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
